*{

    box-sizing: border-box;
    padding:0;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:blue;
    font-size:20px;
    padding:15px;
    color:white;
    height: 50px;
}
header h2{
    flex:1;
}
header .tasks_count,header .tasks_done{
    width:40px;
    height:40px;
    /* text-align:center; */
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 20px;
}
header .tasks_count{
    background-color:white;
    color:black;
    margin-right: 10px;

}
.container{
    width:80%;
    margin:10px auto;
}
h1 {margin-bottom:10px;
    font-size:40px;
    font-weight:bolder
}
header .tasks_done{
    background-color:rgb(0, 123, 255);
    color:white;

}
form{
    width:80%;
    margin:0 auto;
    margin-bottom: 10px;
}
form input{
    width:70%  ;
    border:1px solid white;
    padding:4px;
}
form .addBtn,form .clearBtn{
    color:white;
    margin:0 5px 0 5px ;
    border-radius: 7px;
    border: none;
    outline:none;
    width: 10%;
    text-align: center;
    cursor: pointer;

}

form .addBtn{
    background-color:rgb(85, 99, 107)

}
form .clearBtn{
    background-color:rgba(255, 0, 0, 0.616);

}


.alert_area{
    color:white;
    background-color:red;
    width: 100%;
    text-align: center;
    transition:height 2s ;
}


.empty_tasks{
    text-align: center;
    color:aqua;
    font-size:medium;
}
.list{
    list-style: none;
    border:1px solid aqua;
    border-radius: 5px;
}
.list .list_item{
    border-bottom:1px solid aqua ;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    
}
.list .list_item .del{
align-self: flex-end;
background-color:red;
border-radius: 50%;
height:20px;
width:20px;
text-align:center;
cursor: pointer;
}
.list .list_item .task{
    background-color: rgb(96, 96, 191);
    cursor: pointer;
    width:95%;
    padding-left: 20px;
    /* align-self: flex-start; */
}
.done{
    color:rgb(0, 153, 255);
    text-decoration:line-through;
}



.main_btn{
    height:5rem;
    width: 5rem;
    border-radius:50%;
    background-color:pink;
    position:fixed;
    bottom:10px;
    right:10px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.main_btn .fa-circle-plus{
    color: black !important;
    height:50%;
    width: 50%;
    cursor:pointer;
    transition: all 3s !important;
}
.fab_btns{
    overflow: hidden;
    height:250px;
    display:none;
    width: 50px;
    background-color:white;
    position:fixed;
    right:10px;
    bottom:100px;
    transition:all 0.5s !important;
    
}
@keyframes show{
    0%{
        height:0px
    }
    25%{
        height:75px
    }
    50%{
        height:150px
    }
    75%{
        height:225px
    }
    100%{
        height:300px
    }
}
.show{
    display:block;
    animation-name: show;
    animation-duration:.9s;

}
.rotate{
    transform: rotate(130deg);
    
}
.fab_btn:nth-child(1){
    background-color:purple;
    height:3rem;
    width: 3rem;
    border-radius:50%;
    margin-bottom: 10px;
  
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;

}
.fab_btn:nth-child(2){
    background-color:green;
    height:3rem;
    width: 3rem;
    border-radius:50%;
    margin-bottom: 10px;

  
    display: flex;
    justify-content:center;
    align-items: center;
}
.fab_btn:nth-child(3){
    background-color:rgb(0, 149, 255);
    height:3rem;
    width: 3rem;
    border-radius:50%;
  
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;

}
.fab_btn:nth-child(4){
    background-color:blue;
    height:3rem;
    width: 3rem;
    border-radius:50%;
    margin-bottom: 10px;

  
    display: flex;
    justify-content:center;
    align-items: center;
}