@use "../mixins" as *;
@use "../variables.scss" as *;
%shared {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
header {
  background-color: $blue_color;
  font-size: 20px;
  padding: 15px;
  color: $white_color;
  height: 50px;
  @include flex_box(space-between);
  h2 {
    flex: 1;
  }
  .tasks_count,
  .tasks_done {
    @extend %shared;
    @include flex_box(center);
  }
  .tasks_count {
    background-color: $white_color;
    color: $black_color;
    margin-right: 10px;
  }
  .tasks_done {
    background-color: $blue_color;
    color: $white_color;
  }
}
.container {
  width: 80%;
  margin: 10px auto;
}
h1 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bolder;
}
